* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    font-size:100%;
    
}

body {
    font-family: 'Josefin Sans', sans-serif;
    padding:0 2rem;

}


h1 {
    font-size: 3.5rem;
}
.text-center {
    text-align:center;
}

.mt-8 {
    margin-top:8rem;
}

.mb-3 {
    margin-bottom:3rem;
}

.mb-1 {
    margin-bottom:1rem;
}
.shopping-cart-container {
    padding: 2rem 5rem;
    background-color: rgb(57, 68, 247,0.5);
    max-width: 768px;
    margin:auto;
}


.shopping-cart-box {
    padding:1rem 2rem;
    background-color: #f0e9d6;
}

.d-flex {
    display:flex;
}


.shopping-img-container {
    width:40%;
}
.shopping-img {
    width:100%;
}

.shopping-item-name {
    width:30%;
}

.shopping-item-number {
    width:30%;
}

.item-number {
    width:20px;
    margin:0 0.1rem;
    background-color: rgba(213, 210, 210, 0.3);
    border:none;
    outline:none;
}

.price-container {
    margin-left:1rem;
}

.align-items-center {
    align-items: center;
}

.btn-decrement, .btn-increment {
    padding:0.2rem 0.3rem;
    border:none;
}

.fa-solid {
    padding:0.2rem 0.6rem;
    color:red;
    font-size: 1.5rem;
}

.total-price-name {
    width:70%;
}

#btn-checkout-container {
    text-align: right;
}

#checkout-btn {
    padding: 1rem 1.5rem;
    background-color: rgb(237, 188, 27);
    border:none;
    border-radius: 8px;
    font-size: 1.25rem;
    color:white;
}
@media only screen and (min-width:1px) {
    :root {
        font-size: 60%;
    }
}

@media only screen and (min-width:576px) {
    :root {
        font-size: 70%;
    }
}

@media only screen and (min-width:768px) {
    :root {
        font-size: 80%;
    }
}

@media only screen and (min-width:992px) {
    :root {
        font-size: 90%;
    }
}

@media only screen and (min-width:1200px) {
    :root {
        font-size: 100%;
    }
}





